<h1><%= @vehicle.make() %></h1>
<h1><%= @vehicle.model() %></h1>
<h1><%= @vehicle.year() %></h1>

<a href="/dealerships/<%= @dealership.id() %>"><button class="btn btn-default" type="button">Go to <%= @dealership.name() %></button></a>
